@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', 'Myriad Pro','Trebuchet MS', sans-serif;
	background: #f9f9f9 url(../images/bg.jpg) repeat top left;
	font-weight: 300;
	font-size: 14px;
	color: #333;
	overflow: scroll;
	overflow-x: hidden; 
}

a {
	color:#555;
	text-decoration: none;
}

a img {
	border: none;
}

.container {
	position: relative;
}

.header {background-color:#000; padding:15px; position:relative}
.header:before, .header:after {content: ''; display:table}
.header:after {
    clear: both;
}

.header h1 {color:#fff; font-size:2em; float:left; text-shadow:0 0 1px #FFFFFF}

.header .social {float:right; margin-top:10px}
.header .social > div {float:left; margin-right:10px}
.header .social .fb-like {margin-right:40px}

#open-menu {background:url(../images/icon-menu.png) no-repeat; float:left; height:24px; margin:5px 20px 0 0; width:36px}
#open-menu span {display:none}

#states {background-color:#000; display:none; height:220px; left:10px; position:absolute; top:64px; width:480px; z-index:20}
#states li {float:left; list-style:none; font-size:1em; line-height:24px; padding-left:10px; width:150px}
#states li a {color:#fff}

.ri-grid{
	position: relative;
	height: auto;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1;
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.ri-grid-size-1{
	width: 55%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 200px 0 0 -15px;
	display: block;
}

@media only screen and (max-width: 480px) {
	.header h1 {float:none; text-align:center}
	.social {display:none}
	#states {height:345px; left:0; width:320px}
	#states li {font-size.9em}
}